body{font-family:Monospace;}

h1{color: gold;}

th{color: coral;
padding:3px 4px;
margin:5px 8px;
border: 1px solid black;
}

td{color:grey;
    padding:3px 4px;
    margin:8px 8px;
    border: 1px solid black;
}